<div class="alert alert-primary" role="alert">
    Are you sure?
    <a asp-controller="Movies"
       asp-action="Index" class="btn btn-primary">No</a>
    <a asp-controller="Movies"
       asp-action="Delete"
       asp-route-id="@ViewBag.Id" class="btn btn-danger">Yes</a>
</div>