
<h2>Delete</h2>
<div class="alert alert-success" role="alert">
    <p>Are you sure?</p>
    <a asp-controller="Directors" asp-action="Index" class="btn btn-success">No</a>
    <a asp-controller="Directors" asp-action="Delete" asp-route-id="@ViewBag.Id" class="btn btn-danger">Yes</a>
</div>

