@model DirectorsIndexViewModel


<h2>Directors</h2>
<table class="table table-hover table-responsive">
    <tr>
        <th>Name</th>
        <th colspan="3">Action</th>
    </tr>
    @foreach(var director in Model.Directors)
    {
        <tr>
            <td>@director.Item</td>
            <td><a asp-controller="Directors"
                   asp-action="ShowInfo"
                   asp-route-Id="@director.Id" class="btn btn-info">Info</a>
                <a asp-controller="Directors"
                   asp-action="Edit"
                   asp-route-Id="@director.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="Directors"
                   asp-action="ConfirmDelete"
                   asp-route-Id="@director.Id" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>
<a asp-controller="Directors" asp-action="Add" class="btn btn-outline-primary">Add</a>
